In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://quotes.toscrape.com/"
response = requests.get(url)

response.status_code

200

In [3]:
soup = BeautifulSoup(response.text, "html.parser")
soup.title

In [4]:
quotes = soup.find_all("span", class_="text")
len(quotes)

10

In [5]:
quotes[0].text

'“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”'

In [6]:
authors = soup.find_all("small", class_="author")
len(authors)

10

In [7]:
authors[0].text

'Albert Einstein'

In [8]:
data = []

data.append({
    "Quote": quotes[0].text,
    "Author": authors[0].text
})

data

[{'Quote': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
  'Author': 'Albert Einstein'}]

In [9]:
data = []

for q, a in zip(quotes, authors):
    data.append({
        "Quote": q.text,
        "Author": a.text
    })

len(data)

10

In [10]:
df = pd.DataFrame(data)
df.head()

                                               Quote           Author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [11]:
df.to_csv("../data/quotes_data.csv", index=False)